*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.log
.idea/*
.idea

Building/**
Building
./protobuf*/**
./protobuf/**
protobuf
protobuf**/**

.DS_Store
/build
**/*build/**

/captures
.externalNativeBuild
.cxx

# Signing
*.jks
*.pem

# Local configuration
local.properties

coreold/src/main/cpp/.idea
coreold/src/main/cpp/**build**
